* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f1f2f4;
}

/* HEADER */

header {
    width: 100%;
    background-color: white;
    padding: 15px 30px;
}


.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LEFT SIDE */

.top-left {
    display: flex;
    gap: 15px;
}

.flipkart-btn,
.travel-btn {
    border: none;
    padding: 14px 28px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.flipkart-btn {
    background-color: #ffe500;
}

.travel-btn {
    background-color: #e8e8e8;
}

/* RIGHT SIDE */

.top-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-right i {
    font-size: 22px;
}

.top-right span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-right a {
    text-decoration: none;
    color: #2874f0;
    font-size: 18px;
}


.bottom-nav {
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.search-box {
    width: 75%;
    height: 55px;

    border: 2px solid #2874f0;
    border-radius: 15px;

    display: flex;
    align-items: center;

    padding: 0 20px;
}

.search-box i {
    font-size: 22px;
    color: gray;
}

.search-box input {
    width: 100%;
    border: none;
    outline: none;
    margin-left: 15px;
    font-size: 20px;
}


.menu {
    display: flex;
    align-items: center;
    gap: 35px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 22px;
    cursor: pointer;
}

.menu-item i {
    font-size: 22px;
}
.nav-links-container{
    width: 100%;
    padding-top: 20px;

}
#nav-links{
    padding: 10px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
#banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    margin-left: 10%;
    width: 80%;
    align: center;
    background-color: lightgray;
}
.ad-banner{
    flex: 1;
    width: 50%;
    height: 100px;
    background-color: #e8e8e8;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    gap: 20px;
}